{% extends 'base.html' %}

{% block head %}
<title>Todo Page</title>
{% endblock %}

{% block body %}
<h3 id="aa">To Do List</h3>


    <a href="{{ url_for('logout') }}" id="lol">
        <button class="action-btn logout-btn" id="lol">Logout</button>
    </a>

<table id="table">
    <tr>
        <th>Task</th>
        <th>Date Created</th>
        <th>Action</th> 
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.content }}</td>
        <td>{{ task.date_created.strftime('%Y-%m-%d %H:%M') }}</td>
        <td>
            <a href="/delete/{{ task.id }}" class="action-btn">Delete</a>
            <a href="/update/{{ task.id }}" class="action-btn">Update</a>
        </td>
    </tr>
    {% endfor %}
</table>

<form action="{{ url_for('add_task') }}" method="POST">
    <input type="text" name="task" placeholder="Enter your task" required id="task">
    <input type="submit" value="Add Task" class="action-btn">
</form>
{% endblock %}
